<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Mode WIFI</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Settings</h2>
<form method="post" action="mode_wifi.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
        &nbsp;
        <a href="save_cfg_file">Store permanently</a>
    </p>
    <p>
        Server IP:
        <input type="number" id="lsip0" name="lsip0" min="0" max="255" value="{{lsip0}}">
        .
        <input type="number" id="lsip1" name="lsip1" min="0" max="255" value="{{lsip1}}">
        .
        <input type="number" id="lsip2" name="lsip2" min="0" max="255" value="{{lsip2}}">
        .
        <input type="number" id="lsip3" name="lsip3" min="0" max="255" value="{{lsip3}}">
    </p>
    <p>
        Measure interval:
        <input type="number" id="interval" name="interval" min="0" value="{{interval}}">
        [s]
    </p>
</form>

<h2>Change mode</h2>
<form method="post" action="chg_mode_wifi">
    <p>
        <input type="submit" value="Change">
        Node will restart and connection will be lost
    </p>
</form>

</body>
</html>
